
.mainSlider{
  width: 100%;
  
  >.carousel>.carousel-inner > .item{
    height:630px;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    
  }
}

