@import '_variables';
@import '_header';
@import "_footer";
@import "_mainSlider";
@import "_news";
@import "_products";
@import "_certificates";
@import "_trustedby";

*{
  margin:0;
  padding:0;
}
.container{
  width:1240px;
  margin-left: auto;
  margin-right: auto;
 
}
.sectionTitle{
  text-align: center;
  font-weight: 700;
}

.seeMoreButton{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#000;
  height:50px;
  border-radius:25px;
  border:2px solid $hardGray;
  transition: 0.5s;
  &:hover{
    background-color: $mainBlue;
    border:2px solid $mainBlue;
    color:#fff;
  }
}

.contactBar{
  width: 100%;
  height: 43px;
  background-color:$lightGray;
  font-size: 14px;
  .contactBar__container{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color:$hardGray;
    .contactBar__element{
      display:flex;
      align-items: center;
      margin-right: 30px;

      .contactBar__label{
        margin-right: 20px;
      }
      .contactBar__icon{
        width: 20px;
        height: 20px;
        background-image: url(../assets/facebook.png);
        background-repeat: no-repeat;
        background-position: center;
        border:2px solid $hardGray;
        border-radius: 100%;
      }
    }
    
  }
  
}

